In [3]:
import numpy as np
import pandas as pd

In [4]:
df=pd.read_csv("/content/Churn_Modelling.csv")

In [5]:
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [6]:
df.head(5)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [7]:
df.shape

(10000, 14)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [9]:
df.duplicated().sum()

0

In [10]:
df['Exited'].value_counts()

Exited
0    7963
1    2037
Name: count, dtype: int64

In [11]:
df['Geography'].value_counts()

Geography
France     5014
Germany    2509
Spain      2477
Name: count, dtype: int64

In [12]:
df['Gender'].value_counts()

Gender
Male      5457
Female    4543
Name: count, dtype: int64

In [13]:
df.drop(columns=['RowNumber','CustomerId','Surname'], inplace=True)

In [14]:
df=pd.get_dummies(df,columns=['Geography','Gender'],drop_first=True)

In [15]:
from sklearn.model_selection import train_test_split
x=df.drop(columns=['Exited'])
y=df['Exited']
x_train, x_test,y_train, y_test=train_test_split(x,y,test_size=0.2,random_state=1)

In [16]:
x

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,False,False,False
1,608,41,1,83807.86,1,0,1,112542.58,False,True,False
2,502,42,8,159660.80,3,1,0,113931.57,False,False,False
3,699,39,1,0.00,2,0,0,93826.63,False,False,False
4,850,43,2,125510.82,1,1,1,79084.10,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,False,False,True
9996,516,35,10,57369.61,1,1,1,101699.77,False,False,True
9997,709,36,7,0.00,1,0,1,42085.58,False,False,False
9998,772,42,3,75075.31,2,1,0,92888.52,True,False,True
9999,792,28,4,130142.79,1,1,0,38190.78,False,False,False

In [17]:
y

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

In [18]:
x_train.shape

(8000, 11)

In [35]:
y_train.shape

(8000,)

In [19]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()

In [20]:
x_train_scaled=scaler.fit(x_train)
x_test_scaled=scaler.fit(x_test)

In [21]:
x_train_scaled
x_test_scaled

StandardScaler()

In [28]:
import tensorflow
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

In [29]:
model=Sequential()
model.add(Dense(3,activation='sigmoid',input_dim=11))
model.add(Dense(1,activation='sigmoid'))

In [30]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 3)                 36

 dense_1 (Dense)             (None, 1)                 4

=================================================================
Total params: 40 (160.00 Byte)
Trainable params: 40 (160.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [31]:
model.compile(loss='binary_crossentropy',optimizer='Adam')

In [36]:
x_train_scaled = scaler.transform(x_train)
y_train_numpy = y_train.to_numpy()

model.fit(x_train_scaled, y_train_numpy, epochs=10)

Epoch 1/10
250/250 [==============================] - 1s 2ms/step - loss: 0.5450
Epoch 2/10
250/250 [==============================] - 0s 2ms/step - loss: 0.4850
Epoch 3/10
250/250 [==============================] - 0s 2ms/step - loss: 0.4606
Epoch 4/10
250/250 [==============================] - 0s 2ms/step - loss: 0.4462
Epoch 5/10
250/250 [==============================] - 0s 2ms/step - loss: 0.4366
Epoch 6/10
250/250 [==============================] - 0s 2ms/step - loss: 0.4302
Epoch 7/10
250/250 [==============================] - 0s 2ms/step - loss: 0.4256
Epoch 8/10
250/250 [==============================] - 0s 2ms/step - loss: 0.4219
Epoch 9/10
250/250 [==============================] - 0s 2ms/step - loss: 0.4188
Epoch 10/10
250/250 [==============================] - 0s 2ms/step - loss: 0.4158

In [38]:
model.layers[0].get_weights()

[array([[-1.6373475e-04,  1.0306595e-01, -5.4760870e-02],
        [-4.2193353e-01, -1.7457283e+00,  6.7690235e-01],
        [ 4.3185759e-01, -2.9035360e-01,  7.3094651e-02],
        [-4.3996036e-01, -1.3555786e-01, -3.2331684e-01],
        [-2.5807869e-01, -1.5138856e-01, -1.4730022e+00],
        [ 2.0392069e-01,  8.8620231e-02,  2.8474537e-01],
        [ 8.1155473e-01,  1.1178230e-01, -6.3289362e-01],
        [ 4.3493893e-02,  6.0839251e-02,  2.1632774e-01],
        [-4.5247394e-01, -3.4628752e-01,  3.6310649e-01],
        [-1.6238050e-01,  5.2113026e-02, -8.2681626e-02],
        [ 5.7913572e-01,  1.7708892e-01, -5.2034680e-02]], dtype=float32),
 array([ 0.3432186 ,  0.28253788, -0.76730007], dtype=float32)]

In [40]:
x_test_scaled = scaler.transform(x_test)

predictions = model.predict(x_test_scaled)

63/63 [==============================] - 0s 2ms/step

In [41]:
predictions

array([[0.10689398],
       [0.14910313],
       [0.13352144],
       ...,
       [0.05259418],
       [0.12082475],
       [0.3552736 ]], dtype=float32)

In [43]:
final_pred=np.where(predictions>0.5,1,0)

In [45]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,final_pred)

0.818